{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="message {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <div class="logo">
        <img src="{% static 'images/NepNewsLogo.png' %}" alt="NepNews Logo">
    </div>

    <div class="news-container">
        {% for post in posts %}
        <div class="news-item small">
            <a href="{% url 'view-post' post.id %}">
                <div class="news-thumbnail">
                    {% if post.banner_path %}
                        <img src="{{ post.banner_path.url }}" alt="{{ post.title }}">
                    {% else %}
                        <img src="{% static 'images/default-banner.jpg' %}" alt="Default Banner">
                    {% endif %}
                </div>
                <div class="news-text">
                    <h4>{{ post.title }}</h4>
                    <p>{{ post.short_description|truncatewords:10 }}</p>
                </div>
            </a>
        </div>        
        {% empty %}
            <p>No news articles available.</p>
        {% endfor %}
    </div>
{% endblock %}